<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hahabit</title>
    <script>
        document.cookie = 'zoneId=' + Intl.DateTimeFormat().resolvedOptions().timeZone;
    </script>
</head>
<body>
<h1>hahabit</h1>
<h2 th:text="${date}">1970-01-02</h2>
<ul>
    <li th:each="habit: ${habits}">
        <span th:if="${habit.achieved}">✅ <span th:text="${habit.description}">Take a walk</span></span>
        <form th:unless="${habit.achieved}" th:action="@{/achieve/{habitId}/{date}/achieve(habitId=${habit.habitId},date=${date})}" method="post">
            <input type="submit" th:value="${habit.description}">
        </form>
    </li>
</ul>

<p><a th:href="@{/habits}">Manage my habits</a></p>
<p>Timezone ID: <span th:text="${zoneId}">Unknown</span></p>
</body>
</html>